

/* ------------- Page Container ----------------- */

html {
    margin:0px;
    padding: 0px;
    margin-top: -20px;
}

header {
    display: block;
    margin: 0px;
}

body {
    display: block;
    margin: 0px;
}

#container {
    display: block;
    width: 100%;
    min-width: 1240px;
    min-height: 619px;
    background: #536E90;
    padding: 0px;
    margin: 0px;
}

.body_div {
    width: 100%;
    background: #1A233C;
    margin-top: 70px;
    min-height: 480px;
}

.render_div {
    width: 100%;
    background: #1A233C;
    margin-top: 140px;
    min-height: 680px;
}