

/* ------------- Page Container ----------------- */

html {
    margin:0px;
    padding: 0px;
    margin-top: -20px;
}

header {
    display: block;
    margin: 0px;
}

body {
    display: block;
    margin: 0px;
}

#container {
    display: block;
    width: 100%;
    min-width: 1240px;
    min-height: 619px;
    background: #536E90;
    padding: 0px;
    margin: 0px;
}

.body_div {
    width: 100%;
    background: #1A233C;
    margin-top: 15px;
    min-height: 520px;
    padding-top: 1px;
}

.stats-div {
    display: flex;
    width: 100%;
}

.render_div {
    width: 740px;
    height: 350px;
    background: #536E90;
    border-radius: 25px;
    margin: 20px;
    margin-top: 20px;
}

.stats-group {
    width: 500px;
    height: 350px;
}

.search-video {
    width: 500px;
    height: 80px;
    background: #536E90;
    border-radius: 45px;
    margin-top: 20px;

    background-image: url('../assets/img/video-search.svg');
    background-repeat: no-repeat;
    background-position: top 50% left 95%;
}

.dropdown-search {
    padding: 20px;
    width: 85%;

    /* Font Family */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 10px; 
}

.Select-control {
    background-color: #536E90 !important;
    color:white;
  }
  
.Select-menu-outer {
    background-color: #536E90 ;
    color: white;
}

.stats-blocks {
    display: flex;
    width: 100%;
}

.card-stats {
    float: left;
    width: 150px;
    height: 100px;
    background: #FF8F08;
    margin: 10px;
    margin-top: 20px;
    border-radius: 25px;

    background-image: url('../assets/img/big-like.svg');
    background-repeat: no-repeat;
    background-position: top 10% left 95%;
}

.card-views {
    float: left;
    width: 150px;
    height: 100px;
    background: #32A7E2;
    margin: 10px;
    margin-top: 20px;
    border-radius: 25px;

    background-image: url('../assets/img/views.svg');
    background-repeat: no-repeat;
    background-position: top 10% left 95%;
}

.like-btn {
    cursor: pointer;
    width: 48%;
    height: 50px;
    
    /* Colors */
    border: None;
    background: #3AADE3;
    border-radius: 25px;
    background-image: url('../assets/img/uiw_like-o.svg');
    background-repeat: no-repeat;
    background-position: top 50% left 90%;

    /* Font Family */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 10px; 
}

.deslike-btn {
    cursor: pointer;
    width: 48%;
    height: 50px;
    margin-left: 10px;
    
    /* Colors */
    border: None;
    background: #F55418;
    border-radius: 25px;
    background-image: url('../assets/img/uiw_dislike-o.svg');
    background-repeat: no-repeat;
    background-position: top 50% left 90%;

    /* Font Family */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem; 
}

.card-likes {
    padding-top: 10px;
}

.speed-video {
    width: 100%;
    height: 50px;
    background: #313E61;
    border-style: solid;
    border-color: #536E90;
    border-radius: 25px;
    border-width: .1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card-group {
    width: 99%;
    height: 130px;
    margin-top: -10px;
    padding-left: 10px;
}

.card-mini {
    float: left;
    width: 236px;
    height: 110px;
    margin: 10px;
    background: #536E90;
    border-radius: 25px;
}

.title {
    /* Font Family */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    padding-top: 1%;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #FFFFFF;
}